.font30,
.font25,
.font24,
.font22,
.font20,
.font16 {
  color: #000000;
  margin: 0;
}
.font30,
.font25,
.font24 {
  font-weight: $w-bold;
}
.font22,
.font20,
.font16 {
  font-weight: $w-medium;
}
.font30 {
  font-size: 30px;
}
.font25 {
  font-size: 25px;
}
.font24 {
  font-size: 24px;
}
.font22 {
  font-size: 22px;
}
.font20 {
  font-size: 22px;
}
.font16 {
  font-size: 16px;
}

.color007066 {
  color: #007066;
}

.progressbarCircle {
  .font16 {
    margin-top: 7px;
    display: inline-block;
  }
  .circle {
    width: 92px;
    display: inline-block;
    position: relative;
    text-align: center;
    line-height: 1.2;
    canvas {
      vertical-align: top;
      width: 92px !important;
    }
    strong {
      position: absolute; 
      top: calc(50% + -5px);
      transform: translateY(-50%);
      left: 0;
      width: 100%;
      text-align: center;
      line-height: normal;
      font-size: 35px;
      color: #000000;
      font-family: "DINNextLT";
      font-weight: $w-medium;
    }
    
  }
}
.Dark {
  .progressbarCircle {
    .circle {
      strong {
        color: #fff;
      }
    }
    .font16 {
      color: #BBBBBB;
    }
  }
}
.charts-box {
  display: flex;
  width: 100%;
  margin: 0 47px 0 30px;
  justify-content: space-between;
  align-items: center;
}
/* start agency */
.headAgency {
  padding: 20px;
  background: linear-gradient(130deg, #79CC9C, #BBBBBB);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    min-height: 355px;
    margin-bottom: 35px;
    box-shadow: 0 3px 40px rgba(255, 0, 0, 0.05);
    .HATxt {
      text-align: center;
      .font30,
      .font24 {
        margin-bottom: 8px;
      }
    }
    .HAImg {
      margin-#{$end-direction}: 50px;
      img {
        width: 170px;
        height: 170px;
        border-radius: 50%;
        overflow: hidden;
      }
    }
}
.padding15 > * {
  padding-left: 12.5px !important;
  padding-right: 12.5px !important;
}
.agencyBox {
    width: 100%;
    height: 350px;
    background: #EFEDE6;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 35px;
    position: relative;
    transition: 500ms;
    border-radius: 8px;
    cursor: pointer;

    &:hover{
      box-shadow: 0 10px 25px rgba($color: #000000, $alpha: .2);
    }
    .ABLogo {
      margin-bottom: 12px;
      img {
        max-height: 75px;
      }
    }
    .ABContent {
      .font25 {
        @extend .color007066;
        margin-bottom: 10px;
        line-height: 24px;
        font-size: 18px;
      }
      .font26 {
        padding: 0;
        margin: 0;
        font-size: 20px;
        margin-bottom: 10px;
      }
      .font20 {
        padding-top: 5px;
        font-size: 16px;
      }
      .font16 {
        &:hover {
          color: #000000;
        }
      }
    }
}


  
