@media (min-width: 1650px) {
  .container {
    max-width: 1640px;
    padding-left: 4.5px;
    padding-right: 4.5px;
  }
  .row>*{
    // --bs-gutter-x: 1rem;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }
}
@media (min-width: 1300px) and (max-width: 1440px) {
  // .container {
  //   max-width: 1200px;
  //   // border: 1px solid red;
  // }
  // .homeBanner {
  //   .container {
  //     max-width: 1280px;
  //   }
  // }
  // body .owl-theme .owl-next {
  //   #{$end-direction}: -25px;
  // }
  // body .owl-theme .owl-prev {
  //   #{$start-direction}: -25px;
  // }
}

@media screen and (min-width: 992px) {

 
}

@media (min-width: 992px) and (max-width: 1300px) {
  
}
@media (min-width: 767.68px) and (max-width: 1300px) {

}






@media (max-width: 1650.98px) {
  .charts-box{
    margin: 0 5px;
  }
  .progressbarCircle .circle canvas{
    width: 80px !important;
    height: 80px !important;
  }
  .progressbarCircle .circle strong{
    top: calc(46% + -5px);
    font-size: 30px;
  }
  .interactive-services .interactive-service-cards{
    padding: 0;
  }
  .about h3{
    font-size: 25px;
    line-height: 1.5;
  }
  .about .content-box p{
    font-size: 18px;
    line-height: 1.5;
  }
  .about .about-sec-two h3 {
    margin-bottom: 20px;
  }
  .about .about-sec-two h5{
    margin-bottom: 20px;
  }
  .about ul li{
    font-size: 18px;
    margin-bottom: 10px;
  }
  .event-card .dates-box .date-circle.date-to{
    margin-#{$start-direction}: 7px;
  }
  .event-card .dates-box .date-circle{
    width: 105px;
    height: 105px;
  }
  .news-details .details-head h2{
    font-size: 36px;
    line-height: 1.4;
  }
  .agencyBox.policies-box{
    padding: 30px 25px;
  }
  .agencyBox.policies-box .content-box h3 {
    font-size: 18px;
  }
  .agencyBox.policies-box .content-box p.date {
    font-size: 16px;
  }
  .agencyBox.policies-box .btns-box a{
    width: 90px;
  }

  .time-card .time span{
    font-size: 32px;
    line-height: 50px;
  }
  .time-card .pray-time {
    font-size: 16px;
    margin-top: 5px;
  }
  .time-card .pray-time span {
    font-size: 16px;
  }
  .weather-card .weather .icon .temp{
    font-size: 30px;
    line-height: 40px;
  }
  .weather-card .weather .icon .temp::before{
    top: 4px;
    font-size: 20px;
  }
  .weather-card .weather .icon img {
    width: 35px;
    height: 37px;
  }
  .personal-card .content-box .name{
    font-size: 20px;
    line-height: 25px;
  }
  .personal-card .content-box .details a {
    width: 140px;
    font-size: 14px;
  }
  .personal-card .content-box .location {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .personal-card .content-box .job {
    font-size: 14px;
  }
  .personal-card .img-box{
    flex: 0 0 165px;
    margin-#{$end-direction}: 15px;
  }
  .links-title h3 {
    font-size: 18px;
  }



  .pinz{
    top: -13px;
    #{$start-direction}: -509px;
    transform: scale(.92);
  }
  .locations-main .locations-map .location-with-card .hub-card{
    #{$start-direction}: -320px;
    top: 15px;
  }

  .new-map .map-pins .location-with-card.IRAQ {
    left: 60%;
    top: -397px;
  }
  .new-map .map-pins .location-with-card.KSA {
    left: 60%;
    top: -364px;
  }
  .new-map .map-pins .location-with-card.EGYPT {
    left: 56.5%;
    top: -373px;
  }
  .new-map .map-pins .location-with-card.USA {
    left: 29%;
    top: -415px;
  }
  .new-map .map-pins .location-with-card.AUSTRALIA {
    left: 86.5%;
    top: -197px;
  }

  .col-xl-9 .new-map {
    .svg-map svg{
      height: 550px;
    }
  }
  .col-xl-9 .new-map .locations-map .map-pins .AUSTRALIA {
    left: 85%;
    top: -140px;
  }
  .col-xl-9 .new-map .locations-map .map-pins .USA {
    left: 29%;
    top: -300px;
  }
  .col-xl-9 .new-map .map-pins .location-with-card.RUSSIA {
    left: 59%;
    top: -352px;
}
.col-xl-9 .new-map .locations-map .map-pins .KSA {
  left: 60%;
  top: -256px;
}
.col-xl-9 .new-map .locations-map .map-pins .IRAQ {
  left: 60%;
  top: -397px;
}
.col-xl-9 .new-map .locations-map .map-pins .EGYPT {
  left: 56%;
  top: -263px;
}

.new-map-side .data-section .loc-card .hub-card .img-box{
  width: 55px;
  height: 55px;
}
.new-map-side .data-section .loc-card .hub-card .content-box {
  .address {
    font-size: 16px;
  }
  .respon,
  .phone,
  .mail{
    font-size: 14px;
  }
}
.locations-main .locations-slider .item .content-boxx h6 {
  font-size: 18px;
}
.locations-main .locations-slider .item .content-boxx p {
  font-size: 16px;
  text-align: #{$start-direction};
}


.new-map .map-pins .location-with-card.JAPAN {
  left: 84.3%;
  top: -415px;
}
.new-map .map-pins .location-with-card.SOUTH-KOREA {
  left: 81.4%;
  top: -415px;
}

.new-map .map-pins .location-with-card.MALAYSIA{
  left: 74.8%;
  top: -310px;
}
.new-map .map-pins .location-with-card.INDIA {
  left: 69%;
  top: -355px;
}
.new-map .map-pins .location-with-card.S-AFRICA {
  left: 55%;
  top: -195px;
}
.new-map .map-pins .location-with-card.MOROCCO {
  left: 46.5%;
  top: -388px;
}
.new-map .map-pins .location-with-card.PAKISTAN {
  left: 66.5%;
  top: -385px;
}
.new-map .map-pins .location-with-card.CHINA {
  left: 78%;
  top: -420px;
}
.new-map .map-pins .location-with-card.ENGLAND {
  left: 48.5%;
  top: -492px;
}
.new-map .map-pins .location-with-card.LEBANON {
  left: 58%;
  top: -400px;
}
.new-map .map-pins .location-with-card.TURKEY {
  left: 57%;
  top: -418px;
}
.new-map .map-pins .location-with-card.GREECE {
  left: 54.5%;
  top: -420px;
}
.new-map .map-pins .location-with-card.ITALY {
  left: 52.5%;
  top: -430px;
}
.new-map .map-pins .location-with-card.SWIS {
  left: 51%;
  top: -455px;
}
.new-map .map-pins .location-with-card.GREMANY {
  left: 51.6%;
  top: -482px;
}


.col-xl-9 .new-map .locations-map .map-pins .JAPAN {
  left: 83%;
  top: -300px;
}
.col-xl-9 .new-map .locations-map .map-pins .SOUTH-KOREA {
  left: 80%;
  top: -300px;
}
.col-xl-9 .new-map .locations-map .map-pins .MALAYSIA {
  left: 73.8%;
  top: -222px;
}
.col-xl-9 .new-map .locations-map .map-pins .S-AFRICA {
  left: 54.5%;
  top: -139px;
}
.col-xl-9 .new-map .locations-map .map-pins .INDIA {
  left: 68%;
  top: -255px;
}
.col-xl-9 .new-map .locations-map .map-pins .CHINA {
  left: 76.75%;
  top: -300px;
}
.col-xl-9 .new-map .locations-map .map-pins .PAKISTAN {
  left: 65%;
  top: -276px;
}
.col-xl-9 .new-map .locations-map .map-pins .IRAQ {
  left: 59.5%;
  top: -288px;
}
.col-xl-9 .new-map .locations-map .map-pins .MOROCCO {
  left: 47%;
  top: -287px;
}
.col-xl-9 .new-map .locations-map .map-pins .ENGLAND {
  left: 48%;
  top: -349px;
}
.col-xl-9 .new-map .locations-map .map-pins .GREMANY {
  left: 51.6%;
  top: -350px;
}
.col-xl-9 .new-map .locations-map .map-pins .SWIS {
  left: 50.5%;
  top: -329px;
}
.col-xl-9 .new-map .locations-map .map-pins .ITALY {
  left: 52%;
  top: -313px;
}
.col-xl-9 .new-map .locations-map .map-pins .GREECE {
  left: 54%;
  top: -305px;
}
.col-xl-9 .new-map .locations-map .map-pins .LEBANON {
  left: 57.5%;
  top: -290px;
}
.col-xl-9 .new-map .locations-map .map-pins .TURKEY {
  left: 56%;
  top: -304px;
}


}


@media (max-width: 1399.98px) {
  .progressbarCircle .font16{
    font-size: 14px;
  }
  .progressbarCircle .circle strong{
    font-size: 25px;
  }
  .progressbarCircle .circle canvas {
    width: 70px !important;
    height: 70px !important;
}
.progressbarCircle .circle {
  width: 75px;
}
.Vacation .content-box .main-cards-hd{
  width: 150px;
}

.interactive-services .interactive-service-cards .interactive-service-card{
  width: 130px;
  height: 130px;
}
.interactive-services .interactive-service-cards .interactive-service-card .title{
  font-size: 16px;
}
.servey .form-submit .voteNow{
  width: 120px;
}
.servey .form-submit .result{
  width: 140px;
}
.agencyBox .ABContent .font20{
  font-size: 14px;
}
.event-details h2 {
  font-size: 28px;
}
.news-details .details-head h2{
  font-size: 32px;
}
.news-card{
  height: 370px;
}

.news-card .img-box{
  height: 235px;
}
.search-full .search-area{
  height: 55px;
  font-size: 18px;
}
.search-full .search-area-a{
  width: 130px;
  height: 55px;
  font-size: 18px;
}
.accordion .accordion-item .accordion-header .accordion-button{
  font-size: 22px;
  height: 85px;
  // height: auto;
}
.accordion .accordion-item .accordion-header .accordion-button::after{
  top: 20px;
}

.personal-card .img-box{
  flex: 0 0 140px;
  height: 140px;
  background-size: contain;
}
.personal-card .img-box img {
  width: 100px;
  height: 100px;
}
.personal-card .img-box .notifications{
  width: 35px;
    height: 35px;
    font-size: 15px;
}
.time-card .pray-time {
  font-size: 14px;
  text-align: center;
}
.time-card .pray-time span {
  font-size: 14px;
}
.weather-card .date .melady {
  font-size: 12px;
}
.weather-card .date .hegry {
  font-size: 12px;
  line-height: 15px;
}
.weather-card .weather .status {
  font-size: 12px;
}
.weather-card .weather .icon img {
  width: 30px;
  height: 32px;
}
.weather-card .weather .icon .temp {
  font-size: 25px;
  line-height: 34px;
}
.weather-card .weather .icon .temp::before {
  top: 0px;
  font-size: 16px;
}
.time-card .time {
  font-size: 16px;
}
.time-card .time span {
  font-size: 25px;
  line-height: 40px;
}
.Vacation .content-box .today-time {
  font-size: 25px;
}
.Vacation .content-box .title {
  font-size: 14px;
}
.main-cards-hd{
  width: 140px;
}
.Vacation .content-box .main-cards-hd {
  width: 130px;
}
.main-cards-hd {
  font-size: 14px;
}

.owl-carousel-banner .item .content-box h4 {
  font-size: 20px;
}
.owl-carousel-banner .item .content-box p {
  font-size: 17px;
}
.favorite .item .fav-card .content-box h4 {
  font-size: 14px;
}
.services .item .fav-card .img-box {
  max-width: 50px;
  max-height: 50px;
}
.favorite .item .fav-card .img-box {
  max-width: 45px;
  max-height: 45px;
}
.services .nav-tabs .nav-link{
  font-size: 14px;
}
.comu-and-best .nav-tabs .nav-link{
  padding: 8px 15px 5px;
  font-size: 14px;
}
.comu-and-best .community-card .community-top .content-box .celebration {
  font-size: 18px;
}
.comu-and-best .community-card .community-top .content-box .name {
  font-size: 16px;
}
.offers .item .content-box h4 {
  font-size: 14px;
  line-height: 21px;
  height: calc(21px * 3);
}
.news .news-card .content-box .date span {
  font-size: 12px;
}
.news .news-card .content-box .date {
  margin-bottom: 8px;
}
.news .news-card .content-box h4 {
  font-size: 16px;
  line-height: 25px;
  height: calc(25px * 2);
  overflow: hidden
}
.docs .list-docs .doc-card .content-box h4.name {
  font-size: 16px;
  line-height: 20px;
}

.vote .vote-card .content-box h4 {
  font-size: 16px;
}
.servey .form-area h4 {
  font-size: 16px;
}
.servey .form-area label.radio-label {
  font-size: 14px;
}
.interactive-services .interactive-service-cards .interactive-service-card .img-box {
  max-width: 40px;
  max-height: 35px;
}
.interactive-services .interactive-service-cards .interactive-service-card .title {
  font-size: 14px;
}

.servey .form-submit .voteNow{
  font-size: 14px;
}
.servey .form-submit .voteNow {
  width: 100px;
}
.servey .form-submit .result {
  width: 110px;
}
.interactive-services .interactive-service-cards .interactive-service-card {
  width: 115px;
  height: 115px;
}
.servey .form-submit .result{
  font-size: 14px;
}
.links-title h3{
  font-size: 14px;
}

.pinz{
  top: 40px;
  #{$start-direction}: -507px;
  transform: scale(.79);
  }
  .locations-main .locations-map .location-with-card .hub-card{
    #{$start-direction}: -350px;
    top: 0;
    min-height: 215px;
    width: 315px;
  }
  .locations-main .locations-map .location-with-card .img-box{
    width: 50px;
    height: 50px;
  }
  .locations-main .locations-map .location-with-card .content-box .address {
    font-size: 15px;
  }
  .locations-main .locations-map .location-with-card .content-box .respon {
    font-size: 14px;
  }
  .locations-main .locations-map .location-with-card .content-box .phone {
    font-size: 14px;
  }
  .locations-main .locations-map .location-with-card .content-box .mail {
    font-size: 12px;
  }



  .new-map .map-pins .location-with-card.AUSTRALIA {
    left: 86%;
    top: -239px;
}
.new-map .map-pins .location-with-card.EGYPT {
  left: 56.5%;
  top: -384px;
}
.new-map .map-pins .location-with-card.KSA {
  left: 60%;
  top: -380px;
}
.new-map .map-pins .location-with-card.IRAQ {
  left: 63%;
  top: -401px;
}


.col-xl-9 .new-map .locations-map .map-pins .AUSTRALIA {
  left: 84%;
  top: -170px;
}
.col-xl-9 .new-map .locations-map .map-pins .KSA {
  left: 59%;
  top: -274px;
}
.col-xl-9 .new-map .locations-map .map-pins .EGYPT {
  left: 55.5%;
  top: -276px;
}
.col-xl-9 .new-map .locations-map .map-pins .IRAQ {
  left: 62%;
  top: -290px;
}

.new-map .map-pins .location-with-card.RUSSIA {
  left: 59%;
  top: -480px;
}
.new-map .map-pins .location-with-card.JAPAN {
  left: 84%;
  top: -425px;
}
.new-map .map-pins .location-with-card.SOUTH-KOREA {
  left: 80.7%;
  top: -419px;
}
.new-map .map-pins .location-with-card.MALAYSIA {
  left: 74.2%;
  top: -329px;
}
.new-map .map-pins .location-with-card.INDIA {
  left: 68.5%;
  top: -367px;
}
.new-map .map-pins .location-with-card.PAKISTAN {
  left: 66%;
  top: -393px;
}
.new-map .map-pins .location-with-card.S-AFRICA {
  left: 55%;
  top: -235px;
}
.new-map .map-pins .location-with-card.MOROCCO {
  left: 46%;
  top: -393px;
}
.new-map .map-pins .location-with-card.ENGLAND {
  left: 48%;
  top: -488px;
}
.new-map .map-pins .location-with-card.IRAQ {
  left: 59.8%;
  top: -408px;
}
.new-map .map-pins .location-with-card.TURKEY {
  left: 57%;
  top: -424px;
}
.new-map .map-pins .location-with-card.ITALY {
  left: 52.5%;
  top: -435px;
}
.new-map .map-pins .location-with-card.GREECE {
  left: 54.5%;
  top: -426px;
}
.new-map .map-pins .location-with-card.GREMANY {
  left: 51.6%;
  top: -480px;
}
.new-map .map-pins .location-with-card.LEBANON {
  left: 57.8%;
  top: -405px;
}

.col-xl-9 .new-map .map-pins .location-with-card.RUSSIA {
  left: 58%;
  top: -345px;
}

.col-xl-9 .new-map .locations-map .map-pins .JAPAN {
  left: 82%;
  top: -300px;
}
.col-xl-9 .new-map .locations-map .map-pins .SOUTH-KOREA {
  left: 79%;
  top: -300px;
}
.col-xl-9 .new-map .locations-map .map-pins .S-AFRICA {
  left: 54%;
  top: -170px;
}
.col-xl-9 .new-map .locations-map .map-pins .MALAYSIA {
  left: 73%;
  top: -237px;
}
.col-xl-9 .new-map .locations-map .map-pins .INDIA {
  left: 67.3%;
  top: -262px;
}
.col-xl-9 .new-map .locations-map .map-pins .CHINA {
  left: 75.5%;
  top: -305px;
}
.col-xl-9 .new-map .locations-map .map-pins .PAKISTAN {
  left: 64.5%;
  top: -281px;
}
.col-xl-9 .new-map .locations-map .map-pins .IRAQ {
  left: 59.2%;
  top: -299px;
}





}


@media (max-width: 1199.98px) {
  .about h3 {
    font-size: 23px;
  }
  .about .content-box p {
    font-size: 16px;
  }
  .about .about-sec-two h5 {
    font-size: 18px;
  }
  .about ul li {
    font-size: 16px;
  }
  .about .img-box{
    height: auto;
  }
  .about .content-box p{
    margin-bottom: 20px;
  }
 .news-details .row{
  flex-direction: column;
 }
 .news-details .row{
  .col-lg-5,
  .col-lg-7{
    width: 100%;
  }
 }
 .news-details .details-head{
  margin-#{$end-direction}:0 ;
 }
 .news-details .details-head h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  .Policies_Details{
    height: 60px;
  }
  .Policies_Details h3 {
    font-size: 20px;
  }
  .Policies_Details a {
    font-size: 14px;
  }
  .accordion .accordion-item .accordion-header .accordion-button{
    font-size: 20px;
    height: 60px;
  }
  .translate-dropdown select{
    width: 195px;
    height: 50px;
    font-size: 16px;
    background-size: auto , 22px;
    background-position: 21px 23px, calc(100% - 20px) 15px;
    padding: 7px 35px;
    padding-#{$start-direction}: 50px;
  }
  .trans .lang-swap{
    transform: translateX(67%);
  }

  .main-cards-hd{
    font-size: 13px;
  }
  .show-all a {
    font-size: 12px;
  }
  .show-all a img {
    margin-#{$start-direction}: 5px;
}
.comu-and-best .nav-tabs .nav-link {
  padding: 8px 10px 5px;
  margin-#{$end-direction}: 5px;
}
.Vacation .content-box .main-cards-hd {
  width: 115px;
}
.Vacation .content-box .today-time {
  font-size: 20px;
  line-height: 40px;
}
.personal-card .img-box img {
  width: 60px;
  height: 60px;
}
.personal-card .img-box {
  flex: 0 0 100px;
  height: 100px;
}
.personal-card .content-box .name {
  font-size: 16px;
  line-height: 20px;
}
.personal-card .img-box .notifications {
  width: 28px;
  height: 28px;
  font-size: 12px;
}
.agencyBox .ABContent .font26{
  font-size: 18px;
    margin-bottom: 5px;
}
.agencyBox .ABContent .font16{
  font-size: 14px;
}
.container > svg{
  height: 650px;
  }
.pinz {
  top: 31px;
  #{$start-direction}: -472px;
  transform: scale(0.65);
}
.locations-main .locations-map .location-with-card .hub-card{
  #{$start-direction}: -435px;
    top: -100px;
}

.locations-main .locations-map .location-with-card.Russia a.location {
  #{$start-direction}: 540px;
  top: 350px;
}
.locations-main .locations-map .location-with-card.USA a.location {
  #{$start-direction}: 900px;
}
.locations-main .locations-map .location-with-card.AUS a.location{
  #{$start-direction}: 455px;
  top: 540px;
}



  .accordion .accordion-item .accordion-body .content-sec .acc-sec h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .accordion .accordion-item .accordion-body .content-sec .acc-sec p{
    font-size: 14px;
  }
  .accordion .accordion-item .accordion-body .content-sec .acc-sec {
    padding-bottom: 0;
  }
  .custom-row{
    flex-direction: column-reverse;
  }
  .data-section {
    padding-top: 30px;
}

.new-map .svg-map svg {
  height: 550px;
}
.new-map .map-pins .location-with-card{
  width: 20px;
  height: 20px;
}
.new-map .map-pins .location-with-card img {
  width: 20px;
  height: 20px;
}


.new-map .map-pins .location-with-card.S-AFRICA {
  left: 54.5%;
  top: -149px;
}
.new-map .map-pins .location-with-card.AUSTRALIA {
  left: 85%;
  top: -147px;
}
.new-map .map-pins .location-with-card.MALAYSIA {
  left: 73.7%;
  top: -224px;
}
.new-map .map-pins .location-with-card.USA {
  left: 29.5%;
  top: -300px;
}
.new-map .map-pins .location-with-card.MOROCCO {
  left: 46.8%;
  top: -282px;
}
.new-map .map-pins .location-with-card.INDIA {
  left: 68%;
  top: -255px;
}
.new-map .map-pins .location-with-card.CHINA {
  left: 76.5%;
  top: -300px;
}
.new-map .map-pins .location-with-card.PAKISTAN {
  left: 65.5%;
  top: -275px;
}
.new-map .map-pins .location-with-card.JAPAN {
  left: 82.5%;
  top: -299px;
}
.new-map .map-pins .location-with-card.SOUTH-KOREA {
  left: 79.8%;
  top: -294px;
}
.new-map .map-pins .location-with-card.KSA {
  left: 59.7%;
  top: -255px;
}
.new-map .map-pins .location-with-card.EGYPT {
  left: 56%;
  top: -267px;
}
.new-map .map-pins .location-with-card.IRAQ {
  left: 59.4%;
  top: -284px;
}
.new-map .map-pins .location-with-card.RUSSIA {
  left: 58%;
  top: -347px;
}
.new-map .map-pins .location-with-card.LEBANON {
  left: 57.5%;
  top: -288px;
}
.new-map .map-pins .location-with-card.ENGLAND {
  left: 48.5%;
  top: -343px;
}
.new-map .map-pins .location-with-card.TURKEY {
  left: 56.5%;
  top: -300px;
}
.new-map .map-pins .location-with-card.ITALY {
  left: 52.5%;
  top: -305px;
}
.new-map .map-pins .location-with-card.SWIS {
  left: 50.6%;
  top: -324px;
}
.new-map .map-pins .location-with-card.GREMANY {
  left: 51.5%;
  top: -340px;
}
.new-map .map-pins .location-with-card.GREECE {
  left: 54.5%;
  top: -303px;
}



.col-xl-9{


  .new-map .map-pins .location-with-card.S-AFRICA {
    left: 54.5%;
    top: -149px;
  }
  .new-map .map-pins .location-with-card.AUSTRALIA {
    left: 85%;
    top: -147px;
  }
  .new-map .map-pins .location-with-card.MALAYSIA {
    left: 73.7%;
    top: -224px;
  }
  .new-map .map-pins .location-with-card.USA {
    left: 29.5%;
    top: -300px;
  }
  .new-map .map-pins .location-with-card.MOROCCO {
    left: 46.8%;
    top: -282px;
  }
  .new-map .map-pins .location-with-card.INDIA {
    left: 68%;
    top: -255px;
  }
  .new-map .map-pins .location-with-card.CHINA {
    left: 76.5%;
    top: -300px;
  }
  .new-map .map-pins .location-with-card.PAKISTAN {
    left: 65.5%;
    top: -275px;
  }
  .new-map .map-pins .location-with-card.JAPAN {
    left: 82.5%;
    top: -299px;
  }
  .new-map .map-pins .location-with-card.SOUTH-KOREA {
    left: 79.8%;
    top: -294px;
  }
  .new-map .map-pins .location-with-card.KSA {
    left: 59.7%;
    top: -255px;
  }
  .new-map .map-pins .location-with-card.EGYPT {
    left: 56%;
    top: -267px;
  }
  .new-map .map-pins .location-with-card.IRAQ {
    left: 59.4%;
    top: -284px;
  }
  .new-map .map-pins .location-with-card.RUSSIA {
    left: 58%;
    top: -347px;
  }
  .new-map .map-pins .location-with-card.LEBANON {
    left: 57.5%;
    top: -288px;
  }
  .new-map .map-pins .location-with-card.ENGLAND {
    left: 48.5%;
    top: -343px;
  }
  .new-map .map-pins .location-with-card.TURKEY {
    left: 56.5%;
    top: -300px;
  }
  .new-map .map-pins .location-with-card.ITALY {
    left: 52.5%;
    top: -305px;
  }
  .new-map .map-pins .location-with-card.SWIS {
    left: 50.6%;
    top: -324px;
  }
  .new-map .map-pins .location-with-card.GREMANY {
    left: 51.5%;
    top: -340px;
  }
  .new-map .map-pins .location-with-card.GREECE {
    left: 54.5%;
    top: -303px;
  }



}



}



@media (max-width: 991.98px) {
  .about{
    padding: 50px;
  }
  .about .about-sec-two h5 {
    font-size: 16px;
  }
  .about .img-box {
    margin-bottom: 15px;
  }
  .about .about-sec-one{
    margin-bottom: 0;
  }
  .about .content-box{
    margin: 0;
  }
  .about .rev .content-box{
    margin: 0;
  }
  .headAgency {
    flex-direction: column-reverse;
}

.headAgency .HATxt .font30 {
    font-size: 22px;
}

.headAgency .HATxt .font22 {
    font-size: 18px;
}

.headAgency .HATxt .font20 {
    font-size:18px
}

.headAgency .HATxt{
    margin-top:15px
    
}
.headAgency .HAImg {
  margin: 0;
  }
  .headAgency .HAImg img{
    width: 125px;
    height: 125px;
  }
  .breadcrumb-banner .breadcrumb-end .breadcrumb-content h2 {
    font-size: 30px;
  }
  .event-details .details {
    flex-direction: column;
  }
  .event-details .details .date {
      border-left: 0;
      border-bottom: 1px solid #e2e2e2;
      min-height: 90px;
  }
  .event-details .details .date .date-details span{
    font-size: 16px;
  }

  .trans .lang-swap{
    #{$end-direction}: 10px;
    #{$start-direction}:auto;
    transform: rotate(90deg);
    top: 50%;
    
  }
  .tr-to {
    margin-right: 0;
    margin-top: 35px;
}

.personal-card {
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 15px;
  justify-content: center;
}

.gaft-card.weather-card {
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.gaft-card.time-card {
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.Vacation.gaft-card {
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 15px;
}
.main-topnav .bgTopNav .topNav{
  padding-top: 20px;
  padding-bottom: 35px;
}
.main-topnav .bgTopNav .topNav .left .logo {
  max-width: 250px;
}
.locations-main .locations-slider .item{
  margin: 0 auto;
}
.locations-main .locations-slider{
  padding: 25px 10px;
}


.locations-main .locations-slider .item .content-boxx p {
  font-size: 14px;
}
.locations-main .locations-slider .item .content-boxx h6 {
  font-size: 18px;
}
.container > svg{
  height: 430px;
}
.pinz {
  top: 15px;
  #{$start-direction}: -376px;
  transform: scale(0.44);
}
.locations-main .locations-map .location-with-card .hub-card {
  #{$start-direction}: -550px;
  top: -230px;
}

.locations-main .locations-map .location-with-card.USA a.location {
  #{$start-direction}: 760px;
}
.locations-main .locations-map .location-with-card.AUS a.location{
  #{$start-direction}: 550px;
}


.new-map .svg-map svg{
  height: 430px !important;
}
.new-map .map-pins .location-with-card img {
  width: 15px;
  height: 15px;
}
.new-map .locations-map .map-pins .KSA {
  left: 57% !important;
  top: -217px !important;
}
.new-map .map-pins .location-with-card.EGYPT {
  left: 54% !important;
  top: -223px !important;
}
.new-map .map-pins .location-with-card.IRAQ {
  left: 60% !important;
  top: -230px !important;
}
.new-map .map-pins .location-with-card.RUSSIA {
  left: 57% !important;
  top: -273px !important;
}
.new-map .map-pins .location-with-card.USA {
  left: 29.5% !important;
  top: -239px !important;
}
.new-map .map-pins .location-with-card.AUSTRALIA {
  left: 82% !important;
  top: -140px !important;
}
.locations-main .swiperArr {
  display: none;
}
.locations-main .locations-slider .swiper-slide{
  width: inherit !important;
}


.new-map .map-pins .location-with-card.S-AFRICA {
  left: 53.5%;
  top: -141px;
}
.new-map .map-pins .location-with-card.MALAYSIA {
  left: 71.5%;
  top: -192px;
}
.new-map .map-pins .location-with-card.EGYPT {
  left: 54.7% !important;
  top: -219px !important;
}
.new-map .locations-map .map-pins .KSA {
  left: 58% !important;
  top: -213px !important;
}
.new-map .map-pins .location-with-card.MOROCCO {
  left: 45.8%;
  top: -228px;
}
.new-map .map-pins .location-with-card.IRAQ {
  left: 58% !important;
  top: -231px !important;
}
.new-map .map-pins .location-with-card.INDIA {
  left: 66%;
  top: -210px;
}
.new-map .map-pins .location-with-card.CHINA {
  left: 74.25% !important;
  top: -242px !important;
}
.new-map .map-pins .location-with-card.PAKISTAN {
  left: 64%;
  top: -226px;
}
.new-map .map-pins .location-with-card.JAPAN {
  left: 80%;
  top: -242px;
}
.new-map .map-pins .location-with-card.SOUTH-KOREA {
  left: 77.2%;
  top: -239px;
}
.new-map .map-pins .location-with-card.ENGLAND {
  left: 47.5%;
  top: -274px;
}
.new-map .map-pins .location-with-card.LEBANON {
  left: 56%;
  top: -230px;
}
.new-map .map-pins .location-with-card.TURKEY {
  left: 55.3%;
  top: -242px;
}
.new-map .map-pins .location-with-card.GREECE {
  left: 53%;
  top: -243px;
}
.new-map .map-pins .location-with-card.ITALY {
  left: 51%;
  top: -246px;
}
.new-map .map-pins .location-with-card.SWIS {
  left: 49.6%;
  top: -259px;
}
.new-map .map-pins .location-with-card.GREMANY {
  left: 50.5%;
  top: -270px;
}


.col-xl-9{
  
.new-map .map-pins .location-with-card.S-AFRICA {
  left: 53.5%;
  top: -141px;
}
.new-map .map-pins .location-with-card.MALAYSIA {
  left: 71.5%;
  top: -192px;
}
.new-map .map-pins .location-with-card.EGYPT {
  left: 54.7% !important;
  top: -219px !important;
}
.new-map .locations-map .map-pins .KSA {
  left: 58% !important;
  top: -213px !important;
}
.new-map .map-pins .location-with-card.MOROCCO {
  left: 45.8%;
  top: -228px;
}
.new-map .map-pins .location-with-card.IRAQ {
  left: 58% !important;
  top: -231px !important;
}
.new-map .map-pins .location-with-card.INDIA {
  left: 66%;
  top: -210px;
}
.new-map .map-pins .location-with-card.CHINA {
  left: 71%;
  top: -230px;
}
.new-map .map-pins .location-with-card.PAKISTAN {
  left: 64%;
  top: -226px;
}
.new-map .map-pins .location-with-card.JAPAN {
  left: 80%;
  top: -242px;
}
.new-map .map-pins .location-with-card.SOUTH-KOREA {
  left: 77.2%;
  top: -239px;
}
.new-map .map-pins .location-with-card.ENGLAND {
  left: 47.5%;
  top: -274px;
}
.new-map .map-pins .location-with-card.LEBANON {
  left: 56%;
  top: -230px;
}
.new-map .map-pins .location-with-card.TURKEY {
  left: 55.3%;
  top: -242px;
}
.new-map .map-pins .location-with-card.GREECE {
  left: 53%;
  top: -243px;
}
.new-map .map-pins .location-with-card.ITALY {
  left: 51%;
  top: -246px;
}
.new-map .map-pins .location-with-card.SWIS {
  left: 49.6%;
  top: -259px;
}
.new-map .map-pins .location-with-card.GREMANY {
  left: 50.5%;
  top: -270px;
}
}










}

@media (max-width: 767.98px) {
  .locations-main .swiperArr{
    display: none;
  }
  .main-white-card {
    padding: 50px 25px;
  }
  .about h3 {
    font-size: 20px;
  }

  .about ul li , 
  .about .content-box p {
    font-size: 14px;
  }
  .about .about-sec-four ul {
    margin-bottom: 25px;
}

  .depEemp-box.main-depEemp::before{
    #{$end-direction  }: calc(50% - 10px);
    top: calc(100% - 11px);
  }
  .depEemp-box.main-depEemp::after{
    #{$end-direction}: calc(50% - 25px);
    top: calc(100% + 20px);
    transform: rotate(90deg);
  }
  .agencyBox .ABContent .font26 {
    font-size: 17px;
  }
  .breadcrumb-banner .breadcrumb-end .breadcrumb-content h2 {
    font-size: 25px;
  }
  .event-details h2 {
    font-size: 22px;
  }
  .event-card{
    height: 280px;
    margin-bottom: 25px;
  }
  .event-card .content-box h3 {
    font-size: 16px;
    line-height: 1.2;
    max-height: calc(19px *3);
  }
  .news-details .img-box{
    height: 300px;
  }
  .news-details .details-head h2 {
    font-size: 20px;
  }
  .news-details .content-box p{
    font-size: 14px;
  }
  .agencyBox.policies-box {
    height: 280px;
  }
  .search-full .search-area-a {
    height: 40px;
    font-size: 12px;
    padding: 8px;
    min-width: 75px;
  }
  .search-full .search-area {
    height: 40px;
    font-size: 12px;
    background-size: 18px;
    padding-#{$start-direction}: 40px;
  }
  .agencyBox.policies-box .content-box p.date {
    font-size: 14px;
  }
  .agencyBox.policies-box .content-box h3 {
    font-size: 16px;
  }
  .Policies_Details{
    padding: 20px 25px;
  }
  .Policies_Details h3 {
    font-size: 16px;
  }
  .Policies_Details a {
    font-size: 12px;
  }
  .accordion .accordion-item .accordion-header .accordion-button img{
    max-width: 25px;
  }
  .accordion .accordion-item .accordion-header .accordion-button{
    font-size: 16px;
    text-align: #{$start-direction};
    padding-#{$start-direction}: 15px;
    padding-#{$end-direction}: 39px;
  }
  .accordion.sitemap-acc  .accordion-item .accordion-header a img{
    max-width: 30px;
    margin-#{$end-direction}: 10px;
  }
  .accordion.sitemap-acc  .accordion-item .accordion-header a{
    font-size: 16px;
    text-align: #{$start-direction};
    padding-#{$start-direction}: 15px;
    padding-#{$end-direction}: 39px;
    font-size: 16px;
  }

  .accordion .accordion-item .accordion-header .accordion-button::after{
    #{$end-direction}:20px
  }
  .accordion .accordion-item .accordion-body .content-sec .acc-sec h4{
    font-size: 18px;
    margin-bottom: 10px;
  }
  .accordion.sitemap-acc .accordion-item .accordion-header .accordion-button{
    font-size: 16px;
  }
  .accordion.sitemap-acc .accordion-item .accordion-header .accordion-button img{
    max-width: 30px;
    margin-#{$end-direction}: 10px;
  }
  .accordion.sitemap-acc .accordion-item .accordion-body .acc-sec ul li a {
    font-size: 16px;
  }
  .trans .lang-swap{
    width: 55px;
    height: 55px;
    top: 52%;
  }
  .trans .lang-swap a{
    width: 55px;
    height: 55px;
  }
  .owl-carousel-banner .item .content-box{
    padding: 25px;
  }
  .owl-carousel-banner .item .content-box h4 {
    font-size: 16px;
  }
  .owl-carousel-banner .item .content-box p {
    font-size: 14px;
  }
  .services .nav-tabs .nav-link {
    font-size: 12px;
    padding: 8px 20px 5px;
    margin-bottom: 5px;
  }
  .favorite{
    height: auto;
  }
  .container > svg{
    height: 360px;
  }
  .pinz {
    top: 27px;
    #{$start-direction}: -310px;
    transform: scale(0.34);
  }
  .locations-main .locations-map .location-with-card .hub-card {
    #{$start-direction}: -560px;
    top: -275px;
    min-height: 190px;
    width: 275px;
  }
  .locations-main .locations-map .location-with-card .content-box .address {
    font-size: 14px;
  }
  .locations-main .locations-map .location-with-card .content-box .respon {
    font-size: 13px;
  }
  .locations-main .locations-map .location-with-card .content-box .phone {
    font-size: 12px;
    margin-bottom: 5px;
  }
  .locations-main .locations-map .location-with-card .content-box .mail {
    font-size: 10px;
  }


  .new-map .svg-map svg {
    height: 300px !important;
}

.new-map .map-pins .location-with-card.AUSTRALIA {
  left: 81% !important;
  top: -103px !important;
}
.new-map .map-pins .location-with-card.USA {
  left: 31.5% !important;
  top: -177px !important;
}
.new-map .map-pins .location-with-card.RUSSIA {
  left: 58% !important;
  top: -202px !important;
}
.new-map .map-pins .location-with-card.IRAQ {
  left: 58.5% !important;
  top: -170px !important;
}
.new-map .map-pins .location-with-card.EGYPT {
  left: 52.5% !important;
  top: -164px !important;
}
.new-map .locations-map .map-pins .KSA {
  left: 56% !important;
  top: -161px !important;
}


.new-map .map-pins .location-with-card{
  width: 11px;
  height: 11px;
}
.new-map .map-pins .location-with-card img {
  width: 11px;
  height: 11px;
}


.new-map .map-pins .location-with-card.S-AFRICA {
  left: 54%;
  top: -103px;
}
.new-map .map-pins .location-with-card.JAPAN {
  left: 79.5%;
  top: -179px;
}
.new-map .map-pins .location-with-card.SOUTH-KOREA {
  left: 76.7%;
  top: -176px;
}
.new-map .map-pins .location-with-card.MALAYSIA {
  left: 70.8%;
  top: -141px;
}
.new-map .map-pins .location-with-card.CHINA {
  left: 73.5% !important;
  top: -178px !important;
}
.new-map .map-pins .location-with-card.INDIA {
  left: 65.7%;
  top: -154px;
}
.new-map .map-pins .location-with-card.PAKISTAN {
  left: 64%;
  top: -166px;
}
.new-map .map-pins .location-with-card.MOROCCO {
  left: 47%;
  top: -169px;
}
.new-map .map-pins .location-with-card.ENGLAND {
  left: 48%;
  top: -204px;
}
.new-map .locations-map .map-pins .KSA {
  left: 58.5% !important;
  top: -156px !important;
}
.new-map .map-pins .location-with-card.EGYPT {
  left: 55.3% !important;
  top: -161px !important;
}
.new-map .map-pins .location-with-card.LEBANON {
  left: 56.8%;
  top: -171px;
}
.new-map .map-pins .location-with-card.TURKEY {
  left: 55.7%;
  top: -178px;
}
.new-map .map-pins .location-with-card.GREECE {
  left: 53.7%;
  top: -178px;
}
.new-map .map-pins .location-with-card.ITALY {
  left: 52%;
  top: -182px;
}
.new-map .map-pins .location-with-card.IRAQ {
  left: 58.3% !important;
  top: -170px !important;
}
.new-map .map-pins .location-with-card.SWIS {
  left: 50.6%;
  top: -189px;
}
.new-map .map-pins .location-with-card.GREMANY {
  left: 51.5%;
  top: -199px;
}
// .new-map .map-pins .location-with-card.USA {
//   left: 26% !important;
//   top: -178px !important;
// }
// .new-map .map-pins .location-with-card.AUSTRALIA {
//   left: 77.5% !important;
//   top: -108px !important;
// }

.col-xl-9{
  .new-map .map-pins .location-with-card.S-AFRICA {
    left: 54%;
    top: -103px;
  }
  .new-map .map-pins .location-with-card.JAPAN {
    left: 79.5%;
    top: -179px;
  }
  .new-map .map-pins .location-with-card.SOUTH-KOREA {
    left: 76.7%;
    top: -176px;
  }
  .new-map .map-pins .location-with-card.MALAYSIA {
    left: 70.8%;
    top: -141px;
  }
  // .new-map .map-pins .location-with-card.CHINA {
  //   left: 69%;
  //   top: -172px;
  // }
  .new-map .map-pins .location-with-card.INDIA {
    left: 65.7%;
    top: -154px;
  }
  .new-map .map-pins .location-with-card.PAKISTAN {
    left: 64%;
    top: -166px;
  }
  .new-map .map-pins .location-with-card.MOROCCO {
    left: 47%;
    top: -169px;
  }
  .new-map .map-pins .location-with-card.ENGLAND {
    left: 48%;
    top: -204px;
  }
  .new-map .locations-map .map-pins .KSA {
    left: 58.5% !important;
    top: -156px !important;
  }
  .new-map .map-pins .location-with-card.EGYPT {
    left: 55.3% !important;
    top: -161px !important;
  }
  .new-map .map-pins .location-with-card.LEBANON {
    left: 56.8%;
    top: -171px;
  }
  .new-map .map-pins .location-with-card.TURKEY {
    left: 55.7%;
    top: -178px;
  }
  .new-map .map-pins .location-with-card.GREECE {
    left: 53.7%;
    top: -178px;
  }
  .new-map .map-pins .location-with-card.ITALY {
    left: 52%;
    top: -182px;
  }
  .new-map .map-pins .location-with-card.IRAQ {
    left: 58.3% !important;
    top: -170px !important;
  }
  .new-map .map-pins .location-with-card.SWIS {
    left: 50.6%;
    top: -189px;
  }
  .new-map .map-pins .location-with-card.GREMANY {
    left: 51.5%;
    top: -199px;
  }
}






}


@media (max-width: 574.98px) {
  .news-details .img-box{
    height: 200px;
  }
  .main-topnav .bgTopNav .topNav .left{
    justify-content: center;
    margin-top: 10px;
  }
  // .main-topnav .bgTopNav .topNav .menu-func{
  //   justify-content: center;
  // }
  .main-topnav .bgTopNav .topNav .dropdown .dropdown-menu ul li a.active{
    font-size: 16px;
    padding-top: 12px;
    padding-bottom: 8px;
  }
  .main-topnav .bgTopNav .topNav .dropdown .dropdown-menu ul li a{
    font-size: 16px;
    padding: 7px 20px 5px;
  }
  .main-topnav .bgTopNav .topNav .dropdown .dropdown-menu ul li ul li a{
    font-size: 14px;
  }
  .main-topnav .bgTopNav .topNav .dropdown .dropdown-menu{
    width: 305px;
  }
  .locations-main .locations-map .location-with-card .hub-card {
    #{$start-direction}: -560px;
    top: -320px;
    min-height: 150px;
    width: 230px;
    padding: 9px 15px;
  }
  .locations-main .locations-map .location-with-card .content-box .address {
    font-size: 12px;
  }
  .locations-main .locations-map .location-with-card .content-box .respon {
    font-size: 11px;
    margin-bottom: 0;
  }
  .locations-main .locations-map .location-with-card .content-box .phone {
    font-size: 10px;
    margin-bottom: 2px;
  }


  .container > svg{
    height: 265px;
  }
  .pinz {
    top: 20px;
    #{$start-direction}: -242px;
    transform: scale(0.25);
  }

  .locations-main .locations-map .location-with-card.AUS a.location {
    top: 460px;
  }
  .locations-main .locations-map .location-with-card.USA a.location {
    #{$start-direction}: 600px;
}
.locations-main .locations-map .location-with-card.EGYPT a.location {
  #{$start-direction}: 580px;
}
.locations-main .locations-map .location-with-card.KSA a.location {
  #{$start-direction}: 565px;
}
.locations-main .locations-slider .item .content-boxx h6 {
  font-size: 16px;
}
.locations-main .locations-slider .item .img-boxx {
  width: 50px;
  height: 50px;
}




.new-map .svg-map{
  padding: 15px 20px;
  text-align: left;
}
.new-map .svg-map svg{
  height: 200px !important;
  width: 260px !important;
}
.new-map .map-pins .location-with-card{
  width: 6px;
  height: 7px;
}
.new-map .map-pins .location-with-card img {
  width: 6px;
  height: 7px;
}

.new-map .map-pins .location-with-card.USA {
  left: 26% !important;
  top: -126px !important;
}
.new-map .map-pins .location-with-card.S-AFRICA {
  left: 47% !important;
  top: -74px !important;
}
.new-map .map-pins .location-with-card.AUSTRALIA {
  left: 72.5% !important;
  top: -74px !important;
}
.new-map .map-pins .location-with-card.RUSSIA {
  left: 51% !important;
  top: -144px !important;
}
.new-map .map-pins .location-with-card.MALAYSIA {
  left: 63% !important;
  top: -102px !important;
}
.new-map .map-pins .location-with-card.INDIA {
  left: 58% !important;
  top: -112px !important;
}
.new-map .map-pins .location-with-card.CHINA {
  left: 65.5% !important;
  top: -129px !important;
}
.new-map .map-pins .location-with-card.PAKISTAN {
  left: 56% !important;
  top: -119px !important;
}
.new-map .locations-map .map-pins .KSA {
  left: 51.5% !important;
  top: -113px !important;
}
.new-map .map-pins .location-with-card.EGYPT {
  left: 48.3% !important;
  top: -116px !important;
}
.new-map .map-pins .location-with-card.MOROCCO {
  left: 40.5% !important;
  top: -122px !important;
}
.new-map .map-pins .location-with-card.IRAQ {
  left: 51.3% !important;
  top: -124px !important;
}
.new-map .map-pins .location-with-card.LEBANON {
  left: 49.5% !important;
  top: -123px !important;
}
.new-map .map-pins .location-with-card.TURKEY {
  left: 48.7% !important;
  top: -128px !important;
}
.new-map .map-pins .location-with-card.GREECE {
  left: 46.7% !important;
  top: -129px !important;
}
.new-map .map-pins .location-with-card.ITALY {
  left: 45% !important;
  top: -130px !important;
}
.new-map .map-pins .location-with-card.ENGLAND {
  left: 42% !important;
  top: -146px !important;
}
.new-map .map-pins .location-with-card.SWIS {
  left: 43.6% !important;
  top: -136px !important;
}
.new-map .map-pins .location-with-card.GREMANY {
    left: 44.5% !important;
    top: -143px !important;
}
.new-map .map-pins .location-with-card.SOUTH-KOREA {
  left: 68.5% !important;
  top: -127px !important;
}
.new-map .map-pins .location-with-card.JAPAN {
  left: 71% !important;
  top: -129px !important;
}

.col-xl-9{
 
  .new-map .map-pins .location-with-card.USA {
    left: 26% !important;
    top: -126px !important;
  }
  .new-map .map-pins .location-with-card.S-AFRICA {
    left: 47% !important;
    top: -74px !important;
  }
  .new-map .map-pins .location-with-card.AUSTRALIA {
    left: 72.5% !important;
    top: -74px !important;
  }
  .new-map .map-pins .location-with-card.RUSSIA {
    left: 51% !important;
    top: -144px !important;
  }
  .new-map .map-pins .location-with-card.MALAYSIA {
    left: 63% !important;
    top: -102px !important;
  }
  .new-map .map-pins .location-with-card.INDIA {
    left: 58% !important;
    top: -112px !important;
  }
  .new-map .map-pins .location-with-card.CHINA {
    left: 65.5% !important;
    top: -129px !important;
  }
  .new-map .map-pins .location-with-card.PAKISTAN {
    left: 56% !important;
    top: -119px !important;
  }
  .new-map .locations-map .map-pins .KSA {
    left: 51.5% !important;
    top: -113px !important;
  }
  .new-map .map-pins .location-with-card.EGYPT {
    left: 48.3% !important;
    top: -116px !important;
  }
  .new-map .map-pins .location-with-card.MOROCCO {
    left: 40.5% !important;
    top: -122px !important;
  }
  .new-map .map-pins .location-with-card.IRAQ {
    left: 51.3% !important;
    top: -124px !important;
  }
  .new-map .map-pins .location-with-card.LEBANON {
    left: 49.5% !important;
    top: -123px !important;
  }
  .new-map .map-pins .location-with-card.TURKEY {
    left: 48.7% !important;
    top: -128px !important;
  }
  .new-map .map-pins .location-with-card.GREECE {
    left: 46.7% !important;
    top: -129px !important;
  }
  .new-map .map-pins .location-with-card.ITALY {
    left: 45% !important;
    top: -130px !important;
  }
  .new-map .map-pins .location-with-card.ENGLAND {
    left: 42% !important;
    top: -146px !important;
  }
  .new-map .map-pins .location-with-card.SWIS {
    left: 43.6% !important;
    top: -136px !important;
  }
  .new-map .map-pins .location-with-card.GREMANY {
      left: 44.5% !important;
      top: -143px !important;
  }
  .new-map .map-pins .location-with-card.SOUTH-KOREA {
    left: 68.5% !important;
    top: -127px !important;
  }
  .new-map .map-pins .location-with-card.JAPAN {
    left: 71% !important;
    top: -129px !important;
  }
  
}



}

@media(max-width:450px){
//   .new-map .map-pins .location-with-card{
//     width: 10px;
//     height: 9px;
//   }
//   .new-map .map-pins .location-with-card img {
//     width: 10px;
//     height: 9px;
// }
// .new-map .locations-map .map-pins .KSA {
//   left: 58% !important;
//   top: -166px !important;
// }
// .new-map .map-pins .location-with-card.EGYPT {
//   left: 55% !important;
//   top: -169px !important;
// }
// .new-map .map-pins .location-with-card.IRAQ {
//   left: 60% !important;
//   top: -172px !important;
// }
// .new-map .map-pins .location-with-card.RUSSIA {
//   left: 66% !important;
//   top: -215px !important;
// }
// .new-map .map-pins .location-with-card.AUSTRALIA {
//   left: 75% !important;
//   top: -132px !important;
// }
// .new-map .map-pins .location-with-card.USA {
//   left: 28% !important;
//   top: -178px !important;
// }

}
@media(max-width:400px){
//   .new-map .svg-map svg {
//     height: 200px !important;
// }
// .new-map .map-pins .location-with-card.USA {
//   left: 29% !important;
//   top: -130px !important;
// }
// .new-map .map-pins .location-with-card.AUSTRALIA {
//   left: 73% !important;
//   top: -92px !important;
// }
// .new-map .map-pins .location-with-card.RUSSIA {
//   left: 66% !important;
//   top: -152px !important;
// }
// .new-map .map-pins .location-with-card.IRAQ {
//   left: 59% !important;
//   top: -126px !important;
// }
// .new-map .locations-map .map-pins .KSA {
//   left: 57% !important;
//   top: -120px !important;
// }
// .new-map .map-pins .location-with-card.EGYPT {
//   left: 54% !important;
//   top: -122px !important;
// }

}



html[lang="en"]{

}



/*
    min-height
*/

@media(min-height: 1000px) and (max-width: 950px){
 
}



/*
    max-height
*/
@media(max-height:750px){
  
}


/*
    min & max height

*/
@media(min-height:300px) and (max-height:550px){
  
}